<% provide(:title, 'Sign in') %>


<div class="sign">
  <h1 class="sign-text">Sign in</h1>
  <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :email, class: 'label-text'%>
      <%= f.text_field :email, class: 'form-control' %><br>

      <%= f.label :password, class: 'label-text' %>
      <%= f.password_field :password, class: 'form-control' %><br>

      <div class="text-center controls">
        <%= f.submit 'Sign in', class: 'btn btn-primary btn-text' %>
      </div>
  <% end %>
  <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
</div>