<!DOCTYPE html>
<!--suppress RubyInterpreter -->
<html>
  <head>
    <title>ToDoLists | <%= yield(:title) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <meta name="viewport" content="
							    width=device-width,
							    initial-scale=1,
							    minimum-scale=1,
							    maximum-scale=1,
							    user-scalable=0" />

    <script>
        $(document).ready(function() {
            jQuery(".best_in_place").best_in_place();
        });
    </script>

    <script type="text/javascript">
        $(document).mouseup(function (e) {
            var container = $("#project-form");
            if (container.has(e.target).length === 0){
                container.hide();
            }
        });
    </script>

    <!--fonts -->
    <link href="https://fonts.googleapis.com/css?family=Yantramanav" rel="stylesheet">
  </head>


  <body>
    <%= render 'layouts/header' %>
    <div class="wrapper">
      <div class="content">
        <div class="myContent">
          <% flash.each do |key, value| %>
              <%= content_tag(:div, value, class: "alert alert-#{key}") %>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>